.arrow-test {
	width: 85px;
    height: 103px;
    object-fit: contain;
    margin-left: 695px;
}
body .buttonv button {
	color: #fff;
	cursor: pointer;
    background-color: #ff469c;
    border-color: #ff469c;
    margin-bottom: 70px;
    margin-top: 25px;
    padding: 1rem 8rem;
    margin-left: 555px;
}